{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css'>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <script type="text/javascript" src="{% static 'js/home.js' %}">

    </script>
    <title>Home</title>
  </head>
  <body>
    {% include 'home_app/nav.html' %}

    <div class="container">
      <div class="row">

          {% include 'home_app/live_cat.html' %}


      </div>
      <div class="row">
        {% include 'home_app/pre_cat.html' %}


      </div>
      <div class="row">
        {% include 'home_app/com_cat.html' %}


      </div>
    </div>







  </body>
</html>
